/* ===================================================================================================================== */
/* BEGIN: ALL */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* END: ALL */
/* ===================================================================================================================== */
/* BEGIN: BODY */
body {
    background: linear-gradient(-45deg, #61112b, #b4496b);
    font-family: 'Almarai', sans-serif;
}
/* END: BODY */
/* ===================================================================================================================== */
/* BEGIN: HEADER */
header {
    height: 45vh;
    background-color: #811538 !important;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95.5%);
    border-bottom: solid 2vh #5b0d25;
}
/* --------------------------------------------------------------------------------------------------------------------- */
#header-background {
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 95.5%);
}
/* --------------------------------------------------------------------------------------------------------------------- */
#title-header {
    direction: rtl;
    margin-right: 5vw;
    color: white;
}
/* --------------------------------------------------------------------------------------------------------------------- */
#logo-header {
    position: absolute;
    z-index: 999;
    top: 20vh;
    left: 8vw;
}
/* --------------------------------------------------------------------------------------------------------------------- */
#logo-img {
    height: 40vh;
    -webkit-filter: drop-shadow(5px 5px 25px #222 );
    filter: drop-shadow(5px 5px 25px #222);
}
/* --------------------------------------------------------------------------------------------------------------------- */
#qatar-word {
    width: 30vw; 
    background-color: white; 
    padding: 1.5vw;
    border-radius: 3vw;
}
/* END: HEADER */
/* ===================================================================================================================== */
/* BEGIN:  */

/* END:  */
/* ===================================================================================================================== */
/* BEGIN:  */

/* END:  */
/* ===================================================================================================================== */
/* BEGIN:  */

/* END:  */
/* ===================================================================================================================== */